body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}

h2 {
  color: rgb(7, 7, 162);
}

.masterDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}
